<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sockjs_function.js" ></script>
<script type="text/javascript" src="js/sockjs_stomp_function.js" ></script>
    </body>
</html>