{{> layout/header}}
<div class="row">
    <div class="container">
        <h1>websocket-sockjs</h1>
                <input type="text" id="url" class="form-control" placeholder="url" required autofocus value="http://127.0.0.1:8080/ws-handler">
                <button type="button"  id="connect_btn" class="btn btn-success" onclick="do_sockjs_connect()">connect</button>
                <button type="button"  id="disconnect_btn" class="btn btn-danger" onclick="do_sockjs_disconnect()" disabled="disabled" >disconnect</button>
                <input type="text" id="message" class="form-control" placeholder="message" required autofocus value="">
                <button type="button" id="send_btn" class="btn btn-primary" onclick="do_sockjs_send()" disabled="disabled">send</button>
                <textarea class="form-control" rows="10" width="20%"  id="comment"></textarea>
                <button type="button" class="btn btn-default" onclick="do_textArea_clear()">text clear</button>
    </div>
</div>
<hr>

<div class="row">
    <div class="container">
        <h1>websocket-sockjs-stomp</h1>
                <input type="text" id="url_stomp" class="form-control" placeholder="host" required autofocus value="http://127.0.0.1:8080/ws">
                <button type="button" id="stomp_connect_btn" class="btn btn-success" onclick="do_sockjs_stomp_connect()">connect</button>
                <button type="button" id="stomp_disconnect_btn" class="btn btn-danger" onclick="do_sockjs_stomp_disconnect()" disabled="disabled">disconnect</button>
                <input type="text" id="stomp_message" class="form-control" placeholder="message" required autofocus value="">

                <button type="button" id="stomp_send_btn" class="btn btn-primary" onclick="do_sockjs_stomp_send()" disabled="disabled" >send</button>
                <textarea class="form-control" rows="10" width="20%"  id="stomp_comment"></textarea>
                <button type="button" class="btn btn-default" onclick="do_textArea_clear2()">text clear</button>
    </div>
</div>
{{> layout/footer}}
